@model Book

<div>
    <h4>@Model.Title</h4>
    <p>Author: @Model.AuthorFirstName @Model.AuthorMiddleName @Model.AuthorLastName</p>
    <p>Publisher: @Model.Publisher</p>
    <p>ISBN: @Model.ISBN</p>
    <p>Classification: @Model.Classification</p>
    <p>Category: @Model.Category</p>
    <p>Price: @Model.Price</p>
    <p>Number of Pages: @Model.NumberOfPages</p>
</div>